<footer>

        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                            <h6 class="widget-tiltle">Borrelen?</h6>
                            <p>We zijn te bereiken per email naar regentschap@meteoor.net of post naar Lodewijk Napoleonplein 21a, 5616BA Eindhoven. U kunt eventueel ook een postduif sturen.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget twitter-widget" data-aos="fade-up" data-aos-delay="200">
                            <h6 class="widget-tiltle">Volg ons op Instagram!</h6>
                            <div class="media">
                                <div class="media-body ml-3">
                                    <h6><a href="https://www.instagram.com/meteoor1958/">@Meteoor1958</a></h6>
                                </div>
                            </div>
                            <div class="gae">
                                <a href="https://www.instagram.com/meteoor1958/"><img src="images/insta.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget recent-post-widget" data-aos="fade-up" data-aos-delay="400">
                            <div class="media">
                                <i class="fa fa-envelope-o"></i>
                                <div class="media-body ml-3">
                                    <h6>Mail</h6>
                                    <a href="mailto:koerier@meteoor.net">koerier@meteoor.net</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-phone"></i>
                                <div class="media-body ml-3">
                                    <h6>telefoon</h6>
                                    <a href="tel:+31643655102"> +31 6 43655102</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-map-marker"></i>
                                <div class="media-body ml-3">
                                    <h6>Address</h6>
                                    Lodewijk Napoleonplein, 21A<br>
                                    Eindhoven, Nederland
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget tags-widget" data-aos="fade-up" data-aos-delay="800">
                            <h6 class="widget-tiltle">Regentschap</h6>
                            <span style="font-size: larger">Hertog	&nbsp;	&nbsp;</span>Coen Hiddink<br>
                            <span style="font-size: larger">Koerier	&nbsp;	&nbsp;</span>Tom Buijs<br>
                            <span style="font-size: larger">Foerier	&nbsp;	&nbsp;</span>Ward Taborsky
                            <div class="gae">
                                <a href="https://www.meteoor.net"><img src="images/waepon.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Widgets End -->
        <!-- Foot Note Start -->
        <div class="foot-note">
            <div class="container">
                <div class=" text-center text-lg-left justify-content-between align-items-center" style="text-align: center !important;">
                    <p data-aos="fade-right" data-aos-offset="0">&copy;  Designed for and by Meteoor.</p>
                    <p data-aos="fade-left" data-aos-offset="0">Meteoor is een dispuut van het <a href="https://www.hetesc.nl">Eindovens Studenten Corps.</a></p>
                </div>
            </div>
        </div>
        <!-- Foot Note End -->
</footer>


    <script>var ie9 = false;</script>
    <!--[if lte IE 9 ]>
    <script> var ie9 = true; </script>
    <![endif]-->
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
    <!--FOOTER-->
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/main.js"></script>