<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="index.html"><span style="color:#f7d517">Dispuut</span> <span style="color:#14572a">Meteoor</span></a>
            </div>
        </div><!-- /logo -->

        <div class="logoou">
            <a href="index.html"><img class="djala" src="images/favicon.png"/></a>
        </div>

        <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <a href="over-ons.html">Over ons</a></li>
                        </li>
                        <li class="menu-item">
                            <a href="activiteiten.html">Activiteiten</a>
                        </li>
                        <li class="menu-item">
                            <a href="dispuutshuis.html">Dispuutshuis</a>
                        </li>
                        <li class="menu-inline menu-item">
                            <a title="Instagram" href="https://www.instagram.com/meteoor1958/">
                                <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>
    </div>

</header>


